.container {
    min-height: 500px;
    padding: 2% 10%;
}

.projectList {
    display: inline-block;
    width: 35%;
    margin: 15px;
    vertical-align: top;
}

.projectList2 {
    display: none;
}

.projectList table,
.projectList table td {
    border: 1px solid #000;
}

.projectList table input[type="text"] {
    border: none;
}

.calendarContainer {
    display: inline-block;
    width: 60%;
}