body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    width: 75px;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 80px;
    left: 0px;
    background: #00B1E7;
    /* overflow-x: hidden; */
}

.sidenav a,
img {
    text-decoration: none;
    font-size: 25px;
    color: #2196F3;
    display: block;
    padding: 5px;
    width: 100%;
    height: auto;
}

.sidenav a:hover {
    color: #1a8be7;
}

.sidenav .dot {
    width: 6px;
    height: 6px;
    background: #fddb3a;
    border-radius: 50%;
    opacity: 0;
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.sidenav :nth-child(1):hover~.dot {
    -webkit-transform: translateY(-160px);
    transform: translateY(-160px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
}

.sidenav :nth-child(2):hover~.dot {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
}

.main {
    margin-left: 140px;
    /* Same width as the sidebar + left position in px */
    font-size: 28px;
    /* Increased text to enable scrolling */
    padding: 0px 10px;
}

.arrow {
    position: relative;
}

.arrow img {
    position: absolute;
    display: inline-block;
    top: -9px;
    left: -9px;
    height: 49px;
    width: auto;
    z-index: 9999;
}

.icon img {
    display: inline-block;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 10px;
    }
    .sidenav a {
        font-size: 18px;
    }
}